<% if current_user %>
  <%= link_to "Discover Movies", discover_path, class: "btn btn-info btn-outline-dark" %>
  <br>
  <br>
  <h1>Most Popular Movies</h1>
  <%= render partial: 'results' %>
<% else %>
  <h3>Please Log In to Search for Movies</h3>
<% end %>
