<h1>Welcome to Viewing Party!</h1>
<p>Viewing Party is an application in which users can explore movie options and create a viewing party event for the user and their invited friends</p>

<%= link_to "Log In", login_path %>
<%= link_to "Register", new_user_path %>
